/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
a, p, ul, span {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3.063rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

h2 {
  font-size: 2.188rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

.logo {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  color: #08a6e4;
  text-decoration: none;
  cursor: pointer;
}

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*header*/
header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0px 3px 6px #00000029;
  background: red;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__list-item {
  list-style: none;
}

.nav__link {
  color: #a5a5a5;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
}
.nav__link:hover {
  color: #000000;
  border-bottom: solid 3px #08a6e4;
  padding-bottom: 23px;
}

/*content*/
.content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__content {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__content p {
  text-align: center;
  margin-top: 20px;
}

.main-btn {
  margin-top: 25px;
  padding: 22px 90px;
  border-radius: 40px;
  font-weight: 800;
  border: none;
  text-align: center;
  text-decoration: none;
  background: #08a6e4;
  color: #ffffff;
}

.welcome__picture {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  -o-object-position: center;
     object-position: center;
}

.stats {
  width: 100vw;
  height: 800px;
  background-color: greenyellow;
}

.stats h2 {
  text-align: center;
  margin-top: 20px;
}

.stats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  background: brown;
}

.stats__bin {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[class*=stats__circle] {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
  margin: 10px 0;
}

.stats__circle-person {
  background: #fb3b64;
}

.stats__circle-eye {
  background: #08a6e4;
}

.stats__circle-catalog {
  background: #55dfb4;
}

img[class*=stats__img] {
  position: absolute;
}

.stats__img-person {
  margin-top: 15px;
  margin-left: 25px;
}

.stats__img-eye {
  width: 65px;
  margin-top: 24px;
  margin-left: 23px;
}

.stats__img-catalog {
  margin-top: 15px;
  margin-left: 25px;
}

.stats__bin span {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 3px;
}

.stats__bin p {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 400;
  color: #a5a5a5;
  text-align: center;
}

/*profits-section*/
.profits {
  width: 100vw;
  height: 1300px;
  background: blue;
}

.profits__container {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F834;
}

.profits__box {
  height: 400px;
  margin: 15px 30px;
  background: #ffffff;
  border-radius: 5px;
  border: solid 1px #E8E9ED;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profits__box__double {
  height: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.profits__box__double__img {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profits__box__double__img:last-of-type {
  background: #55dfb4;
  border-radius: 5px;
  margin: 0;
  height: 40%;
}

.notebook-picture {
  width: 200px;
  height: auto;
  position: absolute;
  z-index: 1;
}

.phone-picture {
  width: 200px;
  height: auto;
  position: relative;
  z-index: 1;
  top: 12px;
  left: 23px;
}

.trumpet-picture {
  width: auto;
  height: 90%;
}

.profits__box__double h2 {
  font-size: 28px;
  padding: 12px 12px;
}

.profits__box__double p {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 12px;
}

.profits__box__double__img-notebook::after {
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  background-color: #fb3b64;
  border-radius: 40px;
  position: relative;
  transform: rotate(45deg);
  left: 40px;
  top: -36px;
}

.profits__box__double__img-iphone::after {
  content: "";
  width: 150px;
  height: 150px;
  background-color: #08a6e4;
  display: block;
  border-radius: 50%;
  position: absolute;
}

.pricing__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: green;
}
.pricing__container .pricing__box {
  width: 75%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__container h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.pricing__box-bigger {
  width: 90%;
}

.pricing__box-inside {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 10px;
}

.pricing__box-basic {
  border: 1px solid #fb3b64;
}

.pricing__box-professional {
  border: 1px solid #08a6e4;
  width: 115%;
}

.pricing__box-premium {
  border: 1px solid #55dfb4;
}

.pricing__price__details h3 {
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.pricing-price {
  text-align: center;
  font-size: 46px;
  color: #fb3b64;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.pricing__box__list {
  list-style: none;
}
.pricing__box__list li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-top: 10px;
}

.include::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Ckechmark-1.svg");
}

.not__include::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Close.svg");
}

button[class*=btn__begin] {
  position: relative;
  padding: 22px 73px;
  width: 1px;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 800;
  color: #ffffff;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
}

.btn__begin-basic {
  background: #fb3b64;
}

.btn__begin-professional {
  background: #08a6e4;
}

.btn__begin-premium {
  background: #55dfb4;
}

.contact__window {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact__window h2 {
  margin: 10px 20px;
}
.contact__window h3 {
  margin: 0 20px 20px 20px;
}
.contact__window .contact__details {
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
}

.contact__icon {
  font-size: 1rem;
  color: #55dfb4;
  text-decoration: none;
  display: flex;
  margin-top: 5px;
}
.contact__icon img {
  margin-right: 5px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-weight: 600;
  color: #08a6e4;
  font-size: 35px;
}

.contact__form--name {
  margin: 5px;
}

.contact__form--email {
  margin: 15px 5px;
}

.form__label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-size: 0.8rem;
  display: flex;
  text-transform: uppercase;
  color: #08a6e4;
}

.form__input {
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: solid 1px #55dfb4;
  font-size: 18px;
  width: 95%;
}

.contact__checkbox {
  margin: 15px;
  display: flex;
}

.checkbox__container {
  display: block;
  position: relative;
}
.checkbox__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox__container input:checked ~ .checkmark {
  background-image: url("../assets/Checkmark.svg");
  background-position: center;
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #ffffff;
  border: solid 1px #95989A;
  border-radius: 4px;
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__txt {
  margin-left: 30px;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: #707070;
}

.contact__btn {
  position: relative;
  padding: 15px 70px;
  border: none;
  border-radius: 35px;
  align-self: flex-end;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
  background: #08a6e4;
  left: -40px;
  top: -10px;
  margin-top: 15px;
}

.footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
}
.footer .footer__container {
  width: 100%;
  height: 90px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
}

.footer__small__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.footer__small__container .footer__logo {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.footer__small__container .footer__icons {
  width: 70px;
  display: flex;
}

.footer__copyraight {
  font-size: 0.688rem;
  color: #707070;
}

.footer__twit {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */
