:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  /* fonts */

  a, p, ul, span {
    font-family: var(--font-open-sans);
  }

  h1 {
    font-size: 3.063rem;
    font-weight: 400;
    font-family: var(--font-raleway);
    color: var(--color-black);
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 300;
    margin: 5px 45px;
    font-family: var(--font-raleway);
    color: var(--color-black);
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 5px;
    font-family: var(--font-raleway);
    color: var(--color-black);
  }

  .logo {
    font-size: 2rem;
    font-weight: 300;
    font-family: var(--font-raleway);
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
  }
