    $c-primary-first: #08a6e4;
    $c-primary-second: #fb3b64;
    $c-primary-third: #55dfb4;
    $c-black: #000000;
    $c-white: #ffffff;
    $c-background: #f7f7f7;
    $c-details: #a5a5a5;
    $c-shadow: #00000029;
    $f-h: 'Raleway', sans-serif;
    $f-p: 'Open Sans', sans-serif;
    $fw-light: 300;
    $fw-normal: 400;
    $fw-bold: 700;
    $fw-black: 800;

/*reset*/

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  /* fonts */

  a, p, ul, span {
    font-family: $f-p;
  }

  h1 {
    font-size: 3.063rem;
    font-weight: $fw-normal;
    font-family: $f-h;
    color: $c-black;
  }

  h2 {
    font-size: 2.188rem;
    font-weight: $fw-normal;
    font-family: $f-h;
    color: $c-black;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: $fw-bold;
    margin: 5px;
    font-family: $f-h;
    color: $c-black;
  }

  .logo {
    font-size: 2rem;
    font-weight: $fw-light;
    font-family: $f-h;
    color: $c-primary-first;
    text-decoration: none;
    cursor: pointer;
  }

  .body {
      width: 100vh;
  }
  /*header*/
  header {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
      box-shadow: 0px 3px 6px $c-shadow;
  }

//   .hamburger {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     background-color: transparent;
//     cursor: pointer;
//     &:focus {
//         & > .hamburger__container {
//           	box-shadow: 0 0 2px 2px #51a7e8;
//         }
//     }
//   }

//   .hamburger__container {
//     display: flex;
//     align-items: center;
//     position: relative;
//     width: 35px;
//     height: 30px;
//   }

//   .hamburger__bars {
//     position: absolute;
//     width: 35px;
//     height: 2px;
//     background-color: #000;
//     transition: transform 220ms ease-in-out;
//     &:before, &:after {
//         display: block;
//         position: absolute;
//         width: 35px;
//         height: 2px;
//         background-color: #000;
//         content: '';
//     }
//     &:before {
//         top: -12px;
//         transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
//     }
//     &:after {
//         bottom: -12px;
//         transition: bottom 100ms 250ms ease-in,
//           			transform 220ms ease-in-out;
//     }
//   }

//   .hamburger--active {
//     .hamburger__bars {
//         transform: rotate(225deg);
//         transition: transform 220ms 120ms ease-in-out;
//         &:before {
//             top: 0;
//             transition: top 100ms ease-out;
//         }
//         &:after {
//             bottom: 0;
//             transform: rotate(-90deg);
//             transition: bottom 100ms ease-out,
//             		  	transform 220ms 120ms ease-in-out;
//         }
//     }
// }

//   .hamburger, .hamburger__container {
//     &:focus {
//       	outline: none;
//   	}
//   }

//   .side__menu {
//     display: flex;
//     box-sizing: border-box;
//     position: absolute;
//     height: 70%;
//     width: 200px;
//     top: 70px;
//     right: -300px;
//     padding: 0;
//     background-color: red;
//     transition: 0.3s transform ease-in-out;
//   }

//   .side__menu ul {
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     box-sizing: border-box;
//     height: calc(100% - 70px);
//     flex-wrap: wrap;
//     margin: 0 10px;
//     padding: 0;
//     list-style-type: none;
//     align-content: flex-start;
//   }

//   .side-__menu ul li {
//     display: flex;
//     flex-direction: column;
//     height: 30px;
//     background: $c-primary-second;
//     flex-basis: 100%;
//     margin-top: 70px;
//     color: #696e9e;
//     border-radius: 5px;
//     overflow: hidden;
//   }

//   .side__menu ul li a {
//     display: flex;
//     padding: 10px;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     background: $c-primary-third;
//     text-decoration: none;
//     box-sizing: border-box;
//   }

//   .hamburger:focus ~ .side__menu, .side__menu:hover {
//     transform: translateX(-300px);
//   }

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__list-item {
  // padding: 10px;
  list-style: none;
  // margin-right: 50px;
}

.nav__link {
  color: $c-details;
  font-weight: $fw-bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;

  &:hover {
    color: $c-black;
    border-bottom: solid 3px $c-primary-first;
    padding-bottom: 23px;
  }
}

/*content*/

.content__container {
  // width: calc(100% - 20%);
  // background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .main {
//   background: blue;
// }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.welcome__content {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__content p {
  text-align: center;
  margin-top: 20px;
}

.main-btn {
  margin-top: 25px;
  padding: 22px 70px;
  border-radius: 40px;
  font-weight: 800;
  border: none;
  text-align: center;
  text-decoration: none;
  background: $c-primary-first;
  color: $c-white;
}

.welcome__picture {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-position: center;

}

// stats-section

.stats h2 {
  text-align: center;
}

.stats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.stats__bin {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[class*="stats__circle"] {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
  margin: 10px 0;
}

.stats__circle-person {
  background: $c-primary-second;
}
.stats__circle-eye {
  background: $c-primary-first;
}

.stats__circle-catalog {
  background: $c-primary-third;
}

img[class*="stats__img"] {
  position: absolute;
}

.stats__img-person {
  margin-top: 15px;
  margin-left: 25px;
}

.stats__img-eye {
  width: 65px;
  margin-top: 24px;
  margin-left: 23px;
}

.stats__img-catalog {
  margin-top: 15px;
  margin-left: 25px;
}

.stats__bin span {
  font-size: 20px;
  font-weight: $fw-bold;
  margin-top: 15px;
  letter-spacing: 3px;
}

.stats__bin p {
  margin-top: 15px;
  font-size: 17px;
  font-weight: $fw-normal;
  color: $c-details;
  text-align: center;
}

/*profits-section*/

.profits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $c-background;
}

.profits__box {
  height: 450px;
  margin: 20px 30px;
  background: $c-white;
  border-radius: 5px;
  border: solid 1px #E8E9ED;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
div[class*="profits__box__double"] {
  height: 50%;
  border: 2px solid red;
  margin: 2px;
  box-sizing: border-box;
}

.profits__box__double-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profits__box__double-img:last-of-type {
  height: 35%;
  background: $c-primary-third;
}

.profits__box__double-img img {
  width: 45%;
  height: auto;
}

.profits__box__double-img img:last-of-type {
  width: 80%;
  height: auto;
}

.profits__box__double h2 {
  font-size: 30px;
}

.profits__box__double p {
  font-size: 14px;
  font-weight: $fw-normal;
}

.trumpet-picture {
  width: 100%;
}